<h1>Photos Index Page</h1>
<a href="/photos/new">Add new photo</a>

{{#each photos as |photo|}}
  <div>
    <a href='/photos/{{photo.id}}'>
      <img style="max-height:200px; width:auto" src={{photo.link}} alt="Sorry"/>
    </a>
    <p>Uploaded by: {{photo.author.username}}</p>
    <p>Filename: {{photo.key}}</p>
  </div>
{{/each}}
