<h2>Login</h2>
<form class="" action="/login" method="post">
  <div class="form-group">
    <label for="">Username</label>
    <input type="text" name="username" value="" class="form-control">
    <input type="submit" />
  </div>
</form>
